@model System.Collections.Generic.IEnumerable<DNetCMS.Models.ViewModels.Roles.RoleViewModel>

@{
    ViewData["Title"] = "Роли";
}

<h2>Роли</h2>

<a asp-controller="Roles" asp-action="Create">Создать роль</a> 

<div>
    <a asp-action="UserList">Список пользователей и их прав</a>
</div>


<div>

    @if (Context.Items["ErrorMessage"] != null)
    {
        <div>
            @Context.Items["ErrorMessage"].ToString()
        </div>
    }

    @if (Context.Items["WarningMessage"] != null)
    {
        <div>
            @Context.Items["WarningMessage"].ToString()
        </div>
    }

    @if (Context.Items["SuccessMessage"] != null)
    {
        <div>
            @Context.Items["SuccessMessage"].ToString()
        </div>
    }

    <table class="table table-bordered">
        <tr>
            <th>Имя</th>
            <th>Уровень доступа</th>
            <th></th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name</td>
                <td>@x.AccessLevel</td>
                <td>
                    <a asp-controller="Roles" asp-action="Edit" asp-route-id="@x.Id">Изменить</a> |
                    <a asp-controller="Roles" asp-action="Delete" asp-route-id="@x.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>