@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.ViewModels.View.CreateReplaceViewModel

@{
    ViewBag.Title = "Перезапись страницы";
}

<h2>Перезапись базовой страницы</h2>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div>
                @Html.DisplayFor(m => m.ChoosenView)
                @Html.DropDownListFor(m => m.ChoosenView, Model.Views)
                <span asp-validation-for="ChoosenView"></span>
            </div>
            <div>
                @Html.DisplayFor(m => m.Code)
                @Html.EditorFor(m => m.Code)
                <span asp-validation-for="Code"></span>
            </div>
            <div>
                @Html.DisplayFor(m => m.Enable)
                @Html.EditorFor(m => m.Enable)
                <span asp-validation-for="Enable"></span>
            </div>
            <input type="submit" value="Создать"/>
        </form>
    </div>
</div>
