@model DNetCMS.Models.DataContract.BaseViewOverride[]

@{
    ViewBag.Title = "Базовые представления";
    Layout = "_AdminLayout";
}

<h2>Базовые представления</h2>

<div>
    <a class="btn btn-outline-primary" asp-action="Create">Создать представление</a>
</div>

<div>

    @if (Context.Items["ErrorMessage"] != null)
    {
        <div>
            @Context.Items["ErrorMessage"].ToString()
        </div>
    }

    @if (Context.Items["WarningMessage"] != null)
    {
        <div>
            @Context.Items["WarningMessage"].ToString()
        </div>
    }

    @if (Context.Items["SuccessMessage"] != null)
    {
        <div>
            @Context.Items["SuccessMessage"].ToString()
        </div>
    }

</div>

@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>Переписанная страница</th>
            <th>Активно</th>
            <th>Расположение файла</th>
            <th></th>
        </tr>
        @foreach (var m in Model)
        {
        <tr>
            <td>@m.View</td>
            <td>@IsEnable(m.Enable)</td>
            <td>@GetShortPath(m.Path)</td>
            <td>
                <a asp-action="Edit" asp-route-view="@m.View">Изменить</a> |
                <a asp-action="Delete" asp-route-viewName="@m.View">Удалить</a>
            </td>
        </tr>
        }
    </table>
}
else
{
    <p>
        Ни одна базовая страница еще не переписана, попробуйте
        <b>
            <a asp-action="Create">переписать свою первую страницу!</a>
        </b>
    </p>
}

@{
    //TODO: попробовать сделать переключеине активности view асинхронно

    string IsEnable(bool enable)
    {
        return enable ? "Активен" : "Выключен";
    }
    
    string GetShortPath(string path)
    {
        return path.Length > 40 ? $"{path.Substring(0, 40)}..." : path;
    }
}