@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Смена пароля";
    Layout = "_Layout";
}

<h2>Смена пароля</h2>

<form method="post" asp-controller="Account" asp-action="ChangePassword">
    <div>
        @Html.DisplayFor(x => x.NewPassword) <br/>
        @Html.EditorFor(x => x.NewPassword)
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        @Html.DisplayFor(x => x.RepeatNewPassword) <br/>
        @Html.EditorFor(x => x.RepeatNewPassword)
        <span asp-validation-for="RepeatNewPassword"></span>
    </div>
    <div>
        @Html.DisplayFor(x => x.OldPassword) <br/>
        @Html.EditorFor(x => x.OldPassword)
        <span asp-validation-for="OldPassword"></span>
    </div>
</form>