@model System.Collections.Generic.IEnumerable<DNetCMS.Models.DataContract.User>

@{
    ViewBag.Title = "Аккануты";
    Layout = "_AdminLayout";
}

<h2>Аккануты</h2>

<div>
    <a class="btn btn-outline-primary" asp-action="Create">Создать пользователя</a>
</div>

<div>
    @if (Context.Items["ErrorMessage"] != null)
    {
        <div>
            @Context.Items["ErrorMessage"].ToString()
        </div>
    }

    @if (Context.Items["WarningMessage"] != null)
    {
        <div>
            @Context.Items["WarningMessage"].ToString()
        </div>
    }

    @if (Context.Items["SuccessMessage"] != null)
    {
        <div>
            @Context.Items["SuccessMessage"].ToString()
        </div>
    }
</div>

<table class="table table-bordered">
    <tr>
        <th>Имя пользователя</th>
        <th>Email</th>
        <th>Дата регистрации</th>
        <th></th>
    </tr>
    @if (Model == null)
    {
        <p>Пользователей не найдено</p>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.CreateDate.ToShortDateString()</td>
                <td>
                    <a asp-controller="Users" asp-action="Edit">Изменить</a> |
                    <a asp-controller="Users" asp-action="Delete">Удалить</a>
                </td>
            </tr>
        }
    }

</table>
