@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.DataContract.News[]

@{
    ViewData["Title"] = "Главная новости";
    Layout = "_AdminLayout";
}

<h3>Все доступные новости</h3>

<p>
    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="News" >Создать новость!</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayName("Заголовок")
                </th>
                <th>
                    @Html.DisplayName("Дата создания")
                </th>
                <th>
                    @Html.DisplayName("Автор")
                </th>
            <th>@Html.DisplayName("Действия с новостью")</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model)
         {
             <tr>
                 <td>
                     @item.Header
                 </td>
                 <td>
                      @item.CreateDate.ToShortDateString()
                 </td>
                 <td>
                     @item.Author.UserName
                 </td>
                 <td>
                     <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                     @*                <a asp-action="ShowNews" asp-controller="Home" asp-route-id="@item.Id">Посмотреть</a> |*@
                     <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                 </td>
             </tr>
         }
    }
    
    </tbody>
</table>
