@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.ViewModels.StaticViews.CreateStaticViewModel

@{
    ViewBag.Title = "Новая статическая страница";
}

<h2>Новая статическая страница</h2>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>


<form asp-action="Create">
    <div>
        @Html.DisplayFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        @Html.DisplayFor(m => m.Route)
        @Html.EditorFor(m => m.Route)
        <span asp-validation-for="Route"></span>
    </div>
    <div>
        @Html.DisplayFor(m => m.Content)
        @Html.EditorFor(m => m.Content)
        <span asp-validation-for="Content"></span>
    </div>
    <input type="submit" value="Создать"/>
</form>