@model DNetCMS.Models.DataContract.StaticView[]

@{
    ViewBag.Title = "Статические страницы";
    Layout = "_AdminLayout";
}

<h2>Статические страницы</h2>

<div>
    <a asp-action="Create" asp-controller="StaticViews" class="btn btn-outline-primary">Создать новую страницу</a>
</div>

<div>
    @if (Context.Items["ErrorMessage"] != null)
    {    
        <div>
            @Context.Items["ErrorMessage"].ToString()
        </div>
    }

    @if (Context.Items["WarningMessage"] != null)
    {
        <div>
            @Context.Items["WarningMessage"].ToString()
        </div>
    }

    @if (Context.Items["SuccessMessage"] != null)
    {
        <div>
            @Context.Items["SuccessMessage"].ToString()
        </div>
    }
    
    @if (Model != null)
    {
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Имя страницы</th>
                    <th>Расположение страницы</th>
                    <th>Маршрут страницы</th>
                    <th></th>
                </tr>
            
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Name</td>
                        <td><p title="@x.Path">@GetShortPath(x.Path)</p></td>
                        <td>@x.Route</td>
                        <td>
                            <a asp-action="Edit" asp-route-Id="@x.Id">Редактировать</a> |
                            <a asp-action="Remove" asp-route-Id="@x.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    
    

</div>

@{
    string GetShortPath(string path)
    {
        return path.Length > 40 ? $"{path.Substring(0, 40)}..." : path;
    }
}